In [7]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import scipy.stats as ss

In [8]:
def cleanse(path):
    """
        This function takes a DataFrame, 
        cleans or prepares it and returns it 
        for further analysis
    """
    
    # Initializing DataFrame     
    df = pd.read_csv(path, index_col = 0)
    
    # Removing duplicate data
    df = df.drop_duplicates()
    
    # Dropping empty columns
    for col in df.columns:
        if df[col].isna().all():
            df.dropna()
            
    return df

In [9]:
sal = cleanse("csv/salaries.csv")

sal = sal.reset_index()

sal.columns

Index(['work_year', 'experience_level', 'employment_type', 'job_title',
       'salary', 'salary_currency', 'salary_in_usd', 'employee_residence',
       'remote_ratio', 'company_location', 'company_size'],
      dtype='object')

In [32]:
# pd.set_option('display.max_rows', None)

salary_by_job = sal.groupby(['job_title'])['salary_in_usd'].sum()
salary_by_job_and_year = sal.groupby(['job_title', 'work_year'])['salary_in_usd'].sum()
print(salary_by_job_and_year.size)
print(salary_by_job_and_year)

plt.figure(figsize=(10, 6))
plt.scatter(sal['job_title'], sal['salary_in_usd'])
plt.xticks(rotation=90)
plt.xlabel('Job Title')
plt.ylabel('Salary in USD')
plt.title('Relation between Job Titles and Salaries')
plt.tight_layout()
plt.show()

plt.figure(figsize=(10, 6))
plt.bar(salary_by_job_and_year.index, salary_by_job_and_year.values)
plt.xticks(rotation=90)
plt.xlabel('Job Title')
plt.ylabel('Total Salary in USD')
plt.title('Total Salary by Job Title')
plt.tight_layout()
plt.show()

244

AttributeError: 'Series' object has no attribute 'set_option'

In [385]:
# sal.to_excel("data.xlsx")

In [386]:
# work_year: The year the salary was paid.
# experience_level: The experience level in the job during the year
# employment_type: The type of employment for the role
# job_title: The role worked in during the year.
# salary: The total gross salary amount paid.
# salary_currency: The currency of the salary paid as an ISO 4217 currency code.
# salary_in_usd: The salary in USD
# employee_residence: Employee's primary country of residence in during the work year as an ISO 3166 country code.
# remote_ratio: The overall amount of work done remotely
# company_location: The country of the employer's main office or contracting branch
# company_size: The median number of people that worked for the company during the year